.format1, h1, h2, h3, th, td{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
th, td{
    border:1px solid #cacaca;
}

.cityColor{
    color:#009fee;
}

.redColor{
    color:red;
}

.blueColor{
    color:rgb(0, 217, 255);
}

.orangeColor{
    color:rgb(165, 140, 0);
}